html,
body {
	height: 100%;
	overflow: hidden; /* body tidak scroll */
}

/* Sidebar */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	overflow-y: auto;
	z-index: 1030;
}

/* Wrapper konten */
#content-wrapper {
	margin-left: 224px;
	height: 100vh;
	overflow: hidden;
}

/* Area utama */
#content {
	height: 100vh;
	overflow-y: auto;
	padding-top: 70px; /* ruang topbar fixed */
}

/* Sidebar toggle */
body.sidebar-toggled .sidebar {
	margin-left: -224px;
}

body.sidebar-toggled #content-wrapper {
	margin-left: 0;
}
